USE [master]
GO
/****** Object:  Database [QLVT_DATHANG]    Script Date: 9/20/2023 11:12:42 AM ******/
CREATE DATABASE [QLVT_DATHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVT_DATHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLVT_DATHANG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLVT_DATHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLVT_DATHANG_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVT_DATHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVT_DATHANG]
GO
/****** Object:  User [HTKN]    Script Date: 9/20/2023 11:12:42 AM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 9/20/2023 11:12:42 AM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_B8190CB9A5AF4F30A00D79E6B80193D1]    Script Date: 9/20/2023 11:12:42 AM ******/
CREATE ROLE [MSmerge_B8190CB9A5AF4F30A00D79E6B80193D1]
GO
/****** Object:  DatabaseRole [MSmerge_5D706B621FD240CE996CFCFEAB96AABD]    Script Date: 9/20/2023 11:12:42 AM ******/
CREATE ROLE [MSmerge_5D706B621FD240CE996CFCFEAB96AABD]
GO
/****** Object:  DatabaseRole [MSmerge_4431A4EC4E6047CBAA04F4821C29F454]    Script Date: 9/20/2023 11:12:42 AM ******/
CREATE ROLE [MSmerge_4431A4EC4E6047CBAA04F4821C29F454]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_B8190CB9A5AF4F30A00D79E6B80193D1]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_5D706B621FD240CE996CFCFEAB96AABD]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_4431A4EC4E6047CBAA04F4821C29F454]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 9/20/2023 11:12:42 AM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 9/20/2023 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[SOCMND] [nvarchar](20) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[LUONG] [float] NULL,
	[MACN] [nchar](10) NULL,
	[TrangThaiXoa] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_DS_NV]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_NV] AS
SELECT MANV, CONCAT(HO, ' ', TEN) as HOTEN
FROM NHANVIEN 
GO
/****** Object:  View [dbo].[V_DS_NHANVIEN]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_NHANVIEN]
AS
SELECT        MANV, CONCAT(HO, ' ', TEN) AS HOTEN
FROM            dbo.NHANVIEN
WHERE        (TRANGTHAIXOA = 0) AND (NOT EXISTS
                             (SELECT        SUSER_SNAME(sid) AS Expr1
                               FROM            sys.sysusers
                               WHERE        (name = CAST(dbo.NHANVIEN.MANV AS VARCHAR))))

GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
	SELECT TENCN=PUBS.description, TENSERVER=subscriber_server
	 FROM sysmergepublications  PUBS, sysmergesubscriptions SUBS
 	WHERE PUBS.pubid = SUBS.pubid AND  publisher <> subscriber_server
GO
/****** Object:  View [dbo].[V_DS_PHANMANH1]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH1]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server AND PUBS.description!='CN3'

GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[ChiNhanh] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[ChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MasoDDH] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatHang]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang](
	[MasoDDH] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[NhaCC] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DatHang] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MAKHO] [nchar](4) NOT NULL,
	[TENKHO] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENKHO] UNIQUE NONCLUSTERED 
(
	[TENKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MAPN] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[MasoDDH] [nchar](8) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_MaSoDDH] UNIQUE NONCLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MAPX] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[HOTENKH] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_PX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vattu]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vattu](
	[MAVT] [nchar](4) NOT NULL,
	[TENVT] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](15) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_VatTu] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENVT] UNIQUE NONCLUSTERED 
(
	[TENVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 9/20/2023 11:12:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_613577224]    Script Date: 9/20/2023 11:12:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_613577224] ON [dbo].[CTDDH]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_645577338]    Script Date: 9/20/2023 11:12:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_645577338] ON [dbo].[CTPN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_677577452]    Script Date: 9/20/2023 11:12:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_677577452] ON [dbo].[CTPX]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_709577566]    Script Date: 9/20/2023 11:12:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_709577566] ON [dbo].[DatHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_773577794]    Script Date: 9/20/2023 11:12:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_773577794] ON [dbo].[Kho]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_805577908]    Script Date: 9/20/2023 11:12:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_805577908] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1606296782]    Script Date: 9/20/2023 11:12:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1606296782] ON [dbo].[PhieuNhap]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_917578307]    Script Date: 9/20/2023 11:12:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_917578307] ON [dbo].[PhieuXuat]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_965578478]    Script Date: 9/20/2023 11:12:43 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_965578478] ON [dbo].[Vattu]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_F55D9A744548439F996426CBC8F0C7B4]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTDDH] ADD  CONSTRAINT [MSmerge_df_rowguid_502799ECCE3449B4A219A7EA12BDB970]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTPN] ADD  CONSTRAINT [MSmerge_df_rowguid_BD034C49C8574B8EA10546D908EE2C0F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTPX] ADD  CONSTRAINT [MSmerge_df_rowguid_909D6E9962994AB48B75936AB5632181]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DatHang] ADD  CONSTRAINT [DF_DatHang_MasoDDH]  DEFAULT (getdate()) FOR [MasoDDH]
GO
ALTER TABLE [dbo].[DatHang] ADD  CONSTRAINT [DF_DatHang_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[DatHang] ADD  CONSTRAINT [MSmerge_df_rowguid_E1FB7E90867F494B9D9CE896B5277BFE]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Kho] ADD  CONSTRAINT [MSmerge_df_rowguid_69DB4D19DD9244649D190C4F2E16DE04]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF_NhanVien_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_B66DCBE87FBA4A9E85FF3D295E77CB6E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF_PhieuNhap_MAPN]  DEFAULT (getdate()) FOR [MAPN]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF_PhieuNhap_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [MSmerge_df_rowguid_BF33FC92F0644CD4ABB6FC4269FF7D82]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  CONSTRAINT [DF_PX_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  CONSTRAINT [MSmerge_df_rowguid_6DCAA5D04BDE456A86B75D9CB37DD158]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Vattu] ADD  CONSTRAINT [MSmerge_df_rowguid_68B773E484134573A01145AF24FF97A3]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DatHang]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_VatTu]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PhieuNhap] ([MAPN])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_VatTu]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_PX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PhieuXuat] ([MAPX])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_PX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_VatTu]
GO
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_Kho]
GO
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_NhanVien]
GO
ALTER TABLE [dbo].[Kho]  WITH NOCHECK ADD  CONSTRAINT [FK_Kho_Kho] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_Kho]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_DatHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_Kho]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_Kho]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_NhanVien]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIA] CHECK NOT FOR REPLICATION (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPN] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_DONGIACTPN]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPN] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_SOLUONGCTPN]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPX] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_DONGIACTPX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPX] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_SOLUONGCTPX]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [CK_LUONG] CHECK NOT FOR REPLICATION (([LUONG]>=(4000000)))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_LUONG]
GO
ALTER TABLE [dbo].[Vattu]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGTON] CHECK NOT FOR REPLICATION (([SOLUONGTON]>=(0)))
GO
ALTER TABLE [dbo].[Vattu] CHECK CONSTRAINT [CK_SOLUONGTON]
GO
/****** Object:  StoredProcedure [dbo].[sp_addCT_PN]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_addCT_PN] (@MADDH NCHAR(10), @MAHH NCHAR(10), @SOLUONG INT)
AS
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

BEGIN
	IF EXISTS (SELECT MAVT FROM CTDDH WHERE MAVT = @MAHH AND MasoDDH = @MADDH ) 
		BEGIN
			IF((SELECT SOLUONG FROM dbo.CTDDH WHERE MAVT = @MAHH AND MasoDDH = @MADDH) >= @SOLUONG)
			BEGIN
				UPDATE dbo.Vattu SET SOLUONGTON = SOLUONGTON + @SOLUONG WHERE MAVT = @MAHH
			END
			ELSE
				RAISERROR(N'Số lượng vật tư nhập kho lớn hơn đơn đặt hàng', 18, 1)
		END		
	ELSE
		RAISERROR(N'Mã vật tư không có trong đơn đặt hàng', 18, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BangKeChiTietSoLuongTriGiaTheoLoai]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BangKeChiTietSoLuongTriGiaTheoLoai] @NGAYBD DATE, @NGAYKT DATE,
@NHOM NVARCHAR(20), @LOAI CHAR
AS
BEGIN
	IF(@NHOM='CHINHANH')
	BEGIN
		IF(@LOAI='N')
		BEGIN
			SELECT  MONTH(PN.NGAY) AS THANG , YEAR(PN.NGAY) AS NAM, HH.TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAVT, TENVT, DVT FROM VATTU) AS HH,
			-- Chọn các thuộc tính cần thiết của Phiếu nhập theo điều kiện
			(SELECT MAPN, NGAY FROM PHIEUNHAP WHERE NGAY >= @NGAYBD AND NGAY <= @NGAYKT) AS PN,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu nhập
			(SELECT MAPN, MAVT, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG FROM CTPN) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE HH.MAVT = CT.MAVT AND CT.MAPN = PN.MAPN
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY HH.TENVT, MONTH(PN.NGAY), YEAR(PN.NGAY)
		END
		ELSE -- @LOAI='X'
		BEGIN
			SELECT  MONTH(PX.NGAY) AS THANG , YEAR(PX.NGAY) AS NAM, HH.TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAVT, TENVT, DVT
			FROM VATTU) AS HH,
			-- Chọn các thuộc tính cần thiết của Phiếu Xuất theo điều kiện
			(SELECT MAPX, NGAY
			FROM PHIEUXUAT
			WHERE NGAY >= @NGAYBD AND NGAY <= @NGAYKT) AS PX,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu Xuất
			(SELECT MAPX, MAVT, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG
			FROM CTPX) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE HH.MAVT = CT.MAVT AND CT.MAPX = PX.MAPX
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY HH.TENVT, MONTH(PX.NGAY), YEAR(PX.NGAY)
		END
	END
	ELSE --CONGTY
	BEGIN
		IF(@LOAI='N')
		BEGIN
			SELECT  MONTH(PN.NGAY) AS THANG , YEAR(PN.NGAY) AS NAM, HH.TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAVT, TENVT, DVT
			FROM VATTU) AS HH,
			-- Chọn các thuộc tính cần thiết của Phiếu nhập theo điều kiện
			(SELECT MAPN, NGAY
			FROM LINK0.QLVT_DATHANG.DBO.PhieuNhap
			WHERE NGAY >= @NGAYBD AND NGAY <= @NGAYKT) AS PN,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu nhập
			(SELECT MAPN, MAVT, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG
			FROM LINK0.QLVT_DATHANG.DBO.CTPN) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE HH.MAVT = CT.MAVT AND CT.MAPN = PN.MAPN
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY HH.TENVT, MONTH(PN.NGAY), YEAR(PN.NGAY)
		END
		ELSE --@LOAI='X'
		BEGIN
			SELECT  MONTH(PX.NGAY) AS THANG , YEAR(PX.NGAY) AS NAM, HH.TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAVT, TENVT, DVT
			FROM VATTU) AS HH,
			-- Chọn các thuộc tính cần thiết của Phiếu nhập theo điều kiện
			(SELECT MAPX, NGAY
			FROM LINK0.QLVT_DATHANG.DBO.PHIEUXUAT
			WHERE NGAY >= @NGAYBD AND NGAY <= @NGAYKT) AS PX,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu nhập
			(SELECT MAPX, MAVT, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG
			FROM LINK0.QLVT_DATHANG.DBO.CTPX) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE HH.MAVT = CT.MAVT AND CT.MAPX = PX.MAPX
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY HH.TENVT, MONTH(PX.NGAY), YEAR(PX.NGAY)
		END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMADDHEXISTS]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMADDHEXISTS]
@MADDH NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.DatHang WHERE DBO.DatHang.MasoDDH = @MADDH) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK1.QLVT_DATHANG.DBO.DatHang WHERE DatHang.MasoDDH = @MADDH) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMAHHEXISTS]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_CHECKMAHHEXISTS]
@MAHH NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.Vattu WHERE DBO.Vattu.MAVT = @MAHH) 
	BEGIN
		RETURN 1;
	END


	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMAKHOEXISTS]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMAKHOEXISTS]
@MAKHO NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.KHO WHERE DBO.KHO.MAKHO = @MAKHO) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK1.QLVT_DATHANG.DBO.KHO WHERE KHO.MAKHO= @MAKHO) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMAPNEXISTS]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_CHECKMAPNEXISTS]
@MAPN NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.PHIEUNHAP WHERE DBO.PHIEUNHAP.MAPN = @MAPN) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK1.QLVT_DATHANG.DBO.PHIEUNHAP WHERE PHIEUNHAP.MAPN = @MAPN) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMAPXEXISTS]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMAPXEXISTS]
@MAPX NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.PhieuXuat WHERE DBO.PhieuXuat.MAPX = @MAPX) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK1.QLVT_DATHANG.DBO.PhieuXuat WHERE PhieuXuat.MAPX = @MAPX) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_checkNgayPN]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_checkNgayPN]
@MADDH NVARCHAR(10), @NGAYPN DATE
AS
BEGIN
	
	IF ((SELECT NGAY FROM DatHang WHERE MasoDDH = @MADDH) < (SELECT FORMAT (@NGAYPN, 'yyyy-MM-dd') as date)) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKNVEXISTS]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKNVEXISTS]
@MANV NVARCHAR(10)
AS
BEGIN
	
	IF EXISTS (SELECT 1 FROM DBO.NHANVIEN WHERE DBO.NHANVIEN.MANV = @MANV) 
	BEGIN
		RETURN 1;
	END

	IF EXISTS (SELECT 1 FROM LINK1.QLVT_DATHANG.DBO.NHANVIEN NV WHERE NV.MANV = @MANV) 
	BEGIN
		RETURN 1;
	END

	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENCHINHANH_NV]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHUYENCHINHANH_NV] @HO NVARCHAR(40),@TEN NVARCHAR(50),@NGAYSINH DATETIME, @SOCMND NVARCHAR(20), @MACN nchar(10)
AS
DECLARE @LGNAME VARCHAR(50)
DECLARE @USERNAME VARCHAR(50)
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN DISTRIBUTED TRANSACTION
	BEGIN TRY
	
		DECLARE @TAMNV1 NVARCHAR(10)
		SET @TAMNV1 = (SELECT MANV FROM LINK1.QLVT_DATHANG.dbo.NhanVien WHERE HO = @HO AND TEN = @TEN AND NGAYSINH = @NGAYSINH 
		AND SOCMND = @SOCMND AND TRANGTHAIXOA = 1)
		DECLARE @TAMNV2 NVARCHAR(10)
		SET @TAMNV2 = (SELECT MANV FROM dbo.NhanVien WHERE HO = @HO AND TEN = @TEN AND NGAYSINH = @NGAYSINH 
		AND SOCMND = @SOCMND AND TRANGTHAIXOA = 0)
		--NEU SITE KIA DA CO TK
		IF EXISTS(SELECT * FROM LINK1.QLVT_DATHANG.dbo.NhanVien WHERE MANV = @TAMNV1)
		BEGIN
			UPDATE LINK1.QLVT.dbo.NhanVien
			SET TrangThaiXoa = 0
			WHERE MANV = @TAMNV1;
		END
		--SITE KIA CHUA CO TK
		ELSE 
		BEGIN
		DECLARE @MAXNV NCHAR(10)
			SET @MAXNV = (SELECT MAX(MANV)+1 FROM LINK0.QLVT_DATHANG.DBO.NHANVIEN)
			INSERT INTO LINK1.QLVT_DATHANG.dbo.NhanVien (MANV, HO, TEN, SOCMND,NGAYSINH,LUONG, DIACHI, MACN, TRANGTHAIXOA)
			SELECT @MAXNV, HO, TEN, SOCMND ,NGAYSINH ,LUONG, DIACHI, @MACN, TRANGTHAIXOA
			FROM dbo.NhanVien
			WHERE MANV = @TAMNV2;
		END
		--DOI TRANG THAI XOA NEU CO HOA DON
		IF EXISTS(SELECT 1 FROM NhanVien
				WHERE NhanVien.MANV = @TAMNV2 AND				
				(EXISTS(SELECT 1 FROM DATHANG WHERE DATHANG.MANV = NhanVien.MANV) 
					OR EXISTS(SELECT 1 FROM PHIEUNHAP WHERE PHIEUNHAP.MANV = NhanVien.MANV)
					OR EXISTS(SELECT 1 FROM PHIEUXUAT WHERE PHIEUXUAT.MANV = NhanVien.MANV)))
		BEGIN 
			UPDATE dbo.NhanVien
			SET TrangThaiXoa = 1
			WHERE MANV = @TAMNV2;
		END
		--XOA TK NEU KO CO HOA DON
		ELSE
		BEGIN
			DELETE FROM NhanVien Where NhanVien.MANV = @TAMNV2
		END
		COMMIT TRAN;
		IF EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@TAMNV2 AS NVARCHAR))
		BEGIN
		SET @LGNAME = CAST((SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@TAMNV2 AS NVARCHAR)) AS VARCHAR(50))
		SET @USERNAME = CAST(@TAMNV2 AS VARCHAR(50))
		EXEC SP_DROPUSER @USERNAME;
		EXEC SP_DROPLOGIN  @LGNAME;
		END
	END TRY
BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRAN;
	END;
	THROW;
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_getNV]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_getNV]
@MANV NVARCHAR(10), @NHOM NVARCHAR(10)
AS
BEGIN
	
	IF (@NHOM = 'CHINHANH')
	BEGIN
		SELECT MANV, CONCAT(HO, ' ', TEN) AS HOTEN, SOCMND, NGAYSINH,
		 ISNULL(DIACHI,'') AS DIACHI, ISNULL(LUONG,'') AS LUONG
		FROM DBO.NHANVIEN 
		WHERE MANV = @MANV
	END

	ELSE
	BEGIN
		SELECT MANV, CONCAT(HO, ' ', TEN) AS HOTEN, SOCMND, NGAYSINH,
		 ISNULL(DIACHI,'') AS DIACHI, ISNULL(LUONG,'') AS LUONG
		FROM LINK0.QLVT_DATHANG.DBO.NHANVIEN 
		WHERE MANV = @MANV
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HoatDongCuaNhanVien]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HoatDongCuaNhanVien] @MANV NVARCHAR(10), @FROM DATE, @TO DATE, @MACN NVARCHAR(10)
AS
BEGIN
IF(@MACN = 'CN1')
	BEGIN
		SELECT ISNULL(aa.NGAYTHANG, bb.NGAYTHANG) AS 'NGAY',ISNULL(aa.THANG, bb.THANG) AS 'thang',ISNULL(aa.THANG2, bb.THANG2) AS 'thang2' , ISNULL(aa.MaP,BB.MaP) AS 'SO PHIEU',ISNULL(aa.LOAIPHIEU,bb.LOAIPHIEU) as 'LOAI PHIEU', 
		BB.kh AS TENKH, ISNULL(AA.VT,BB.VT) AS 'VAT TU', ISNULL(AA.sl,BB.sl) AS 'SO LUONG', 
		ISNULL(aa.dg,bb.dg) AS 'DON GIA', ISNULL(aa.tg,bb.tg) AS 'TRI GIA' from(

		SELECT FORMAT(NGAY,'dd-MM-yyyy') NGAYTHANG,FORMAT(NGAY,'yyyy-MM') THANG,FORMAT(NGAY,'MM-yyyy') THANG2 , P.MAPN as MaP,LOAIPHIEU='Nhap', HOTENKH='' ,C.TENVT as VT,
		C.SOLUONG as sl, C.DONGIA as dg,C.TRIGIA as tg
		FROM (SELECT NGAY, MAPN	FROM PhieuNhap AS PN
			WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) AS P,
			(SELECT MAPN, TENVT = (SELECT TENVT FROM VATTU WHERE MAVT=CT.MAVT), SOLUONG, DONGIA,SOLUONG*DONGIA AS TRIGIA
			FROM CTPN AS CT ) AS C
			WHERE P.MAPN = C.MAPN
			
		)aa FULL OUTER JOIN 
		(
		SELECT FORMAT(NGAY,'dd-MM-yyyy') NGAYTHANG,FORMAT(NGAY,'yyyy-MM') THANG,FORMAT(NGAY,'MM-yyyy') THANG2, P.MAPX MaP,LOAIPHIEU='Xuat', p.HOTENKH as kh,C.TENVT as VT,
		C.SOLUONG as sl, C.DONGIA as dg,C.TRIGIA as tg
		FROM (SELECT NGAY, MAPX, PHIEUXUAT.HOTENKH
			FROM PHIEUXUAT AS PHIEUXUAT
			WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) AS P,
			(SELECT MAPX, TENVT = (SELECT TENVT FROM VATTU WHERE MAVT=CT.MAVT), SOLUONG, DONGIA,SOLUONG*DONGIA AS TRIGIA
			FROM CTPX AS CT ) AS C
			WHERE P.MAPX = C.MAPX
		) bb 
		ON (aa.NGAYTHANG = bb.NGAYTHANG and aa.NGAYTHANG != bb.NGAYTHANG)
	END
ELSE
	BEGIN
		SELECT ISNULL(aa.NGAYTHANG, bb.NGAYTHANG) AS 'NGAY',ISNULL(aa.THANG, bb.THANG) AS 'thang',ISNULL(aa.THANG2, bb.THANG2) AS 'thang2', ISNULL(aa.MaP,BB.MaP) AS 'SO PHIEU',ISNULL(aa.LOAIPHIEU,bb.LOAIPHIEU) as 'LOAI PHIEU', 
		BB.kh AS TENKH, ISNULL(AA.VT,BB.VT) AS 'VAT TU', ISNULL(AA.sl,BB.sl) AS 'SO LUONG', 
		ISNULL(aa.dg,bb.dg) AS 'DON GIA', ISNULL(aa.tg,bb.tg) AS 'TRI GIA' from(

		SELECT FORMAT(NGAY,'dd-MM-yyyy') NGAYTHANG,FORMAT(NGAY,'yyyy-MM') THANG,FORMAT(NGAY,'MM-yyyy') THANG2 , P.MAPN as MaP,LOAIPHIEU='Nhap', HOTENKH='' ,C.TENVT as VT,
		C.SOLUONG as sl, C.DONGIA as dg,C.TRIGIA as tg
		FROM (SELECT NGAY, MAPN	
			FROM LINK1.QLVT_DATHANG.DBO.PhieuNhap AS PN
			WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) AS P,
			(SELECT MAPN, TENVT = (SELECT TENVT FROM VATTU WHERE MAVT=CT.MAVT), SOLUONG, DONGIA,SOLUONG*DONGIA AS TRIGIA
			FROM LINK1.QLVT_DATHANG.DBO.CTPN AS CT ) AS C
			WHERE P.MAPN = C.MAPN
			
		)aa FULL OUTER JOIN 
		(
		SELECT FORMAT(NGAY,'dd-MM-yyyy') NGAYTHANG,FORMAT(NGAY,'yyyy-MM') THANG,FORMAT(NGAY,'MM-yyyy') THANG2, P.MAPX MaP,LOAIPHIEU='Xuat', p.HOTENKH as kh,C.TENVT as VT,
		C.SOLUONG as sl, C.DONGIA as dg,C.TRIGIA as tg
		FROM (SELECT NGAY, MAPX, PHIEUXUAT.HOTENKH
			FROM LINK1.QLVT_DATHANG.DBO.PHIEUXUAT AS PHIEUXUAT
			WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) AS P,
			(SELECT MAPX, TENVT = (SELECT TENVT FROM VATTU WHERE MAVT=CT.MAVT), SOLUONG, DONGIA,SOLUONG*DONGIA AS TRIGIA
			FROM LINK1.QLVT_DATHANG.DBO.CTPX AS CT ) AS C
			WHERE P.MAPX = C.MAPX
		) bb 
		ON (aa.NGAYTHANG = bb.NGAYTHANG and aa.NGAYTHANG != bb.NGAYTHANG)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HoatDongCuaNhanVienX]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HoatDongCuaNhanVienX] @MANV NVARCHAR(10), @FROM DATE, @TO DATE, @MACN NVARCHAR(10)
AS
BEGIN

IF(@MACN = 'CN1')
	BEGIN
		SELECT FORMAT(NGAY,'dd-MM-yyyy') NGAYTHANG, P.MAPX, p.HOTENKH,C.TENVT,
		P.TENKHO, C.SOLUONG, C.DONGIA 
		FROM (SELECT NGAY, MAPX, PHIEUXUAT.HOTENKH,
			TENKHO = (SELECT TENKHO FROM Kho WHERE PHIEUXUAT.MAKHO = KHO.MAKHO)
			FROM PHIEUXUAT AS PHIEUXUAT
			WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) AS P,
			(SELECT MAPX, TENVT = (SELECT TENVT FROM VATTU WHERE MAVT=CT.MAVT), SOLUONG, DONGIA
			FROM CTPX AS CT ) AS C
			WHERE P.MAPX = C.MAPX
	END
ELSE
	BEGIN
		SELECT FORMAT(NGAY,'dd-MM-yyyy') NGAYTHANG, P.MAPX, p.HOTENKH,C.TENVT,
		P.TENKHO, C.SOLUONG, C.DONGIA 
		FROM (SELECT NGAY, MAPX, PHIEUXUAT.HOTENKH,
			TENKHO = (SELECT TENKHO FROM LINK1.QLVT_DATHANG.DBO.Kho WHERE PHIEUXUAT.MAKHO = KHO.MAKHO)
			FROM LINK1.QLVT_DATHANG.DBO.PHIEUXUAT AS PHIEUXUAT
			WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) AS P,
			(SELECT MAPX, TENVT = (SELECT TENVT FROM VATTU WHERE MAVT=CT.MAVT), SOLUONG, DONGIA
			FROM LINK1.QLVT_DATHANG.DBO.CTPX AS CT ) AS C
			WHERE P.MAPX = C.MAPX
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kiem_Tra_Trang_Thai_Vat_Tu]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Kiem_Tra_Trang_Thai_Vat_Tu] @MA NCHAR(10), @MAHH NCHAR(10)
AS 
BEGIN
	-- mahh tren 1 ct_phieu la duy nhat
	IF exists (SELECT MAVT FROM dbo.CTPN WHERE CTPN.MAVT = @MAHH AND CTPN.MAPN = @MA  )

	BEGIN
		RETURN 1
	END
	-- mahh phai co trong table hang hoa
	ELSE IF NOT EXISTS ( SELECT MAVT FROM DBO.Vattu WHERE Vattu.MAVT = @MAHH)
	BEGIN
		RETURN 2
	END

	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kiem_Tra_Trang_Thai_Vat_Tu_DDH]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_Kiem_Tra_Trang_Thai_Vat_Tu_DDH] @MA NCHAR(10), @MAHH NCHAR(10)
AS 
BEGIN
	-- mahh tren 1 ct_phieu la duy nhat
	IF exists (SELECT MAVT FROM dbo.CTDDH WHERE CTDDH.MAVT = @MAHH AND CTDDH.MasoDDH = @MA  )
	BEGIN
		RETURN 1
	END
	-- mahh phai co trong table hang hoa
	ELSE IF NOT EXISTS ( SELECT MAVT FROM DBO.Vattu WHERE Vattu.MAVT = @MAHH)
	BEGIN
		RETURN 2
	END

	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kiem_Tra_Trang_Thai_Vat_Tu_px]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_Kiem_Tra_Trang_Thai_Vat_Tu_px] @MA NCHAR(10), @MAHH NCHAR(10)
AS 
BEGIN
	-- mahh tren 1 ct_phieu la duy nhat
	IF exists (SELECT MAVT FROM dbo.CTPX WHERE CTPX.MAVT = @MAHH AND CTPX.MAPX = @MA  )
	
	BEGIN
		RETURN 1
	END
	-- mahh phai co trong table hang hoa
	ELSE IF NOT EXISTS ( SELECT MAVT FROM DBO.Vattu WHERE Vattu.MAVT = @MAHH)
	BEGIN
		RETURN 2
	END

	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login] @TENLOGIN NVARCHAR(20)
AS
BEGIN
	DECLARE @UID INT
	DECLARE @MANV INT

	SELECT @UID = UID, @MANV = NAME  FROM SYS.sysusers
		WHERE SID = SUSER_SID(@TENLOGIN)

	

	SELECT  
		 MANV = @MANV, HOVATEN = (SELECT (HO + ' ' + TEN) FROM NHANVIEN WHERE @MANV = MANV),
		NHOM = NAME FROM SYS.SYSUSERS 
			WHERE UID = (SELECT GROUPUID FROM SYS.SYSMEMBERS WHERE MEMBERUID = @UID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_rep_DSDDHChuaCoPhieuNhap]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_rep_DSDDHChuaCoPhieuNhap] @MACN NVARCHAR(10)
AS
BEGIN
IF(@MACN = 'CN1')
BEGIN
	SELECT rs1.MasoDDH AS 'Mã số DDH', rs1.NGAY AS 'Ngày đặt', rs1.NhaCC AS 'Nhà cung cấp', rs1.NVDATHANG AS 'NV đặt hàng', vt.TENVT AS 'Tên vật tư', CTDDH.SOLUONG AS 'Số lượng', CTDDH.DONGIA AS 'Đơn giá'
	FROM
	(
		SELECT dh.MasoDDH, dh.NGAY, dh.NhaCC, nv.HO + ' ' + nv.TEN AS 'NVDATHANG'--, CTDDH.MAVT, CTDDH.SOLUONG, CTDDH.DONGIA
		FROM 
		(
			SELECT MasoDDH, NGAY, NhaCC, MANV
			FROM dbo.DatHang
			-- lọc ra mã số  ddh chưa có trong phiếu nhập
			WHERE MasoDDH NOT IN (SELECT MasoDDH FROM dbo.PhieuNhap)
		) dh
		LEFT JOIN dbo.NHANVIEN nv ON nv.MANV = dh.MANV
	) rs1
	LEFT JOIN dbo.CTDDH ON CTDDH.MasoDDH = rs1.MasoDDH
	INNER JOIN dbo.VATTU vt ON vt.MAVT = CTDDH.MAVT
END
ELSE
BEGIN
	SELECT rs1.MasoDDH AS 'Mã số DDH', rs1.NGAY AS 'Ngày đặt', rs1.NhaCC AS 'Nhà cung cấp', rs1.NVDATHANG AS 'NV đặt hàng', vt.TENVT AS 'Tên vật tư', CTDDH.SOLUONG AS 'Số lượng', CTDDH.DONGIA AS 'Đơn giá'
	FROM
	(
		SELECT dh.MasoDDH, dh.NGAY, dh.NhaCC, nv.HO + ' ' + nv.TEN AS 'NVDATHANG'--, CTDDH.MAVT, CTDDH.SOLUONG, CTDDH.DONGIA
		FROM 
		(
			SELECT MasoDDH, NGAY, NhaCC, MANV
			FROM LINK1.QLVT_DATHANG.dbo.DatHang
			-- lọc ra mã số  ddh chưa có trong phiếu nhập
			WHERE MasoDDH NOT IN (SELECT MasoDDH FROM LINK1.QLVT_DATHANG.dbo.PhieuNhap)
		) dh
		LEFT JOIN LINK1.QLVT.dbo.NHANVIEN nv ON nv.MANV = dh.MANV
	) rs1
	LEFT JOIN LINK1.QLVT_DATHANG.dbo.CTDDH ON CTDDH.MasoDDH = rs1.MasoDDH
	INNER JOIN dbo.VATTU vt ON vt.MAVT = CTDDH.MAVT
END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_rp_DSVT]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROC [dbo].[SP_rp_DSVT]
AS
BEGIN
SELECT * FROM dbo.Vattu ORDER BY TENVT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_rp_NV_theo_chi_nhanh]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_rp_NV_theo_chi_nhanh] @MACN NCHAR(10)
AS
BEGIN
	IF(@MACN = 'CN1')
		BEGIN
		SELECT MANV, HO + '  ' + TEN AS HOTEN, SOCMND, DIACHI, NGAYSINH, LUONG, @MACN AS MACN
		FROM dbo.NhanVien WHERE TrangThaiXoa = 0 AND MACN = @MACN ORDER BY TEN, HO
		END
	ELSE IF(@MACN= 'CN2')
		BEGIN
		SELECT MANV, HO + '  ' + TEN AS HOTEN, SOCMND, DIACHI, NGAYSINH, LUONG, @MACN AS MACN
		FROM LINK1.QLVT_DATHANG.dbo.NhanVien WHERE TrangThaiXoa = 0 AND MACN = @MACN ORDER BY TEN, HO
		END
	ELSE
		BEGIN
		SELECT MANV, HO + '  ' + TEN AS HOTEN, SOCMND, DIACHI, NGAYSINH, LUONG, MACN
		FROM LINK2.QLVT_DATHANG.dbo.NhanVien WHERE TrangThaiXoa = 0  ORDER BY TEN, HO
		END


END

GO
/****** Object:  StoredProcedure [dbo].[sp_subCT_HD]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_subCT_HD] (@MAHH NCHAR(10), @SOLUONG INT)
AS
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

BEGIN
	IF((SELECT SOLUONGTON FROM dbo.Vattu WHERE MAVT = @MAHH) >= @SOLUONG)
		BEGIN
			UPDATE dbo.Vattu SET SOLUONGTON = SOLUONGTON - @SOLUONG WHERE MAVT = @MAHH
		END
	ELSE
		BEGIN
			RAISERROR(N'Số lượng vật tư trong kho không đủ', 18, 1)
		END	
			
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoLogin]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TaoLogin]
    @LGNAME VARCHAR(50),  @PASS VARCHAR(50),
    @USERNAME VARCHAR(50),  @ROLE VARCHAR(50)     
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS, 'QLVT_DATHANG'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
  BEGIN
     RAISERROR ('Tài khoản này đã có người sử dụng!', 16,1)
	 RETURN
  END 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RAISERROR ('Nhân viên này đã có login name!', 16,2)
       RETURN
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE = 'ADMIN'
  BEGIN
      EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
      EXEC sp_addsrvrolemember @LGNAME, 'DBCREATOR'
      EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
  END
  IF @ROLE = 'CHINHANH' OR @ROLE = 'QLVT_DATHANG'
  BEGIN
      EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
  END

GO
/****** Object:  StoredProcedure [dbo].[sp_TongHopNhapXuat]    Script Date: 9/20/2023 11:12:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TongHopNhapXuat] @from DATE,@to DATE,@nhom NVARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON
	IF (1=0) SET FMTONLY OFF
	--SELECT 0 AS 'NGÀY', 0.0 AS 'NHẬP', 0.0 AS 'TỶ LỆ NHẬP', 0.0 AS 'XUẤT', 0.0 AS 'TỶ LỆ XUẤT'
	create TABLE dbo.tonghopxuat (NGAY DATE, TONGTIEN FLOAT)
	create TABLE dbo.tonghopnhap (NGAY DATE, TONGTIEN FLOAT)
	WAITFOR DELAY '00:00:03'
	IF(@nhom = 'CHINHANH')
	BEGIN
		INSERT INTO tonghopxuat (NGAY, TONGTIEN)
			SELECT pxfilter.NGAY, SUM(ctpx.SOLUONG * ctpx.DONGIA) AS 'TONGTIEN'
			FROM (SELECT MAPX, NGAY FROM dbo.PHIEUXUAT WHERE NGAY BETWEEN @from AND @to) pxfilter
			INNER JOIN dbo.CTPX ctpx ON ctpx.MAPX = pxfilter.MAPX
			GROUP BY pxfilter.NGAY

		INSERT INTO tonghopnhap (NGAY, TONGTIEN)
			SELECT pnfilter.NGAY, SUM(ctpn.SOLUONG * ctpn.DONGIA) AS 'TONGTIEN'
			FROM (SELECT MAPN, NGAY FROM dbo.PhieuNhap WHERE NGAY BETWEEN @from AND @to) pnfilter
			INNER JOIN dbo.CTPN ctpn ON ctpn.MAPN = pnfilter.MAPN
			GROUP BY pnfilter.NGAY
	END
	ELSE
	BEGIN
		INSERT INTO dbo.tonghopxuat (NGAY, TONGTIEN)
			SELECT pxfilter.NGAY, SUM(ctpx.SOLUONG * ctpx.DONGIA) AS 'TONGTIEN'
			FROM (SELECT MAPX, NGAY FROM LINK0.QLVT_DATHANG.dbo.PHIEUXUAT WHERE NGAY BETWEEN @from AND @to) pxfilter
			INNER JOIN LINK0.QLVT_DATHANG.dbo.CTPX ctpx ON ctpx.MAPX = pxfilter.MAPX
			GROUP BY pxfilter.NGAY
		INSERT INTO dbo.tonghopnhap (NGAY, TONGTIEN)
			SELECT pnfilter.NGAY, SUM(ctpn.SOLUONG * ctpn.DONGIA) AS 'TONGTIEN'
			FROM (SELECT MAPN, NGAY FROM LINK0.QLVT_DATHANG.dbo.PHIEUNHAP WHERE NGAY BETWEEN @from AND @to) pnfilter
			INNER JOIN LINK0.QLVT_DATHANG.dbo.CTPN ctpn ON ctpn.MAPN = pnfilter.MAPN
			GROUP BY pnfilter.NGAY
	END
		
	SELECT result.NGAY AS 'NGÀY',
			result.TONGTIENNHAP AS 'NHẬP',
			result.TONGTIENNHAP/(result.TONGTIENNHAP + result.TONGTIENXUAT) AS 'TỶ LỆ NHẬP',
			result.TONGTIENXUAT AS 'XUẤT',
			(result.TONGTIENXUAT/(result.TONGTIENNHAP + result.TONGTIENXUAT)) AS 'TỶ LỆ XUẤT'
	FROM
	(
		-- FULL OUTER JOIN 2 BẢNG, CỘT NÀO NULL LÀ NGÀY ĐÓ KHÔNG CÓ NHẬP HOẶC KHÔNG CÓ XUẤT => THAY CỘT ĐÓ = 0
		SELECT ISNULL(tonghopnhap.NGAY, tonghopxuat.NGAY) AS 'NGAY',
				ISNULL(tonghopnhap.TONGTIEN, 0) AS 'TONGTIENNHAP',
				ISNULL(tonghopxuat.TONGTIEN, 0) AS 'TONGTIENXUAT'
		FROM tonghopnhap tonghopnhap
		FULL OUTER JOIN
		(
			SELECT *
			FROM tonghopxuat
		) tonghopxuat
		ON (tonghopxuat.NGAY = tonghopnhap.NGAY)
	) result
	ORDER BY result.NGAY

	DROP TABLE dbo.tonghopnhap
	DROP TABLE dbo.tonghopxuat
END
GO
USE [master]
GO
